<form action="#" method="#" id="taskInput">
  <fieldset>
    <legend>Add a new task</legend>
      <ul>
        <li>
          <label for="task">Task</label>
          <input type="text" name="task" id="task" placeholder="Walk the dog" required>
        </li>

        <li>
          <label for="description">Details</label>
          <textarea name="description" id="description" rows="4" cols="16" placeholder="Bring treats!"></textarea>
        </li>

        <li>
          <label for="dueDate">Due Date</label>
          <input type="date" name="dueDate" id="dueDate">
        </li>

        <li>
          <input type="submit" value="Add Task">
        </li>
    </ul>
  </fieldset>
</form>
