<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" type="text/css" />
  <title>Express To-Do</title>
</head>
<body>
  <form action ="#" method="#" id="addTask">
    
    <div class="row">
      <div class="six columns">
        
        <label for="add task">Add Task</label>
        <input type="text" name="taskName" placeholder="task name" id="taskName"/>
        <input type="text" name="taskDescription" placeholder="description of task" id="taskDescription">
        <input type="datetime-local" name ="dueDate" id="dueDate"/>
      </div>
    </div>
    <input type="submit" name="submit" class="button-primary"/>
  </form>
  
  <script type="text/javascript" src="form.js"></script>
</body>
</html>