<%- include('./partials/header'); -%>
<%- include('./partials/taskInputForm'); -%>
<h1>To Do List</h1>

<section id="tasks">
  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Details</th>
        <th>Due Date</th>
        <th>Completed</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="todosBody">
    </tbody>
  </table>
</section>

<script type="text/javascript" src="javascripts/index.js"></script>
