<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To-Do List</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
    <link rel="stylesheet" href="../public/styles/style.css" type="text/css" />
</head>
<body>
    <article>
        <header>
            <section>
                <h1>To-Do List</h1>
                <h4>Powered by Node.js and Express</h4>
                <h6>Created by Devonte G. Duncan</h6>
            </section>
        </header>
        <main>
            <section>
                <a class="button" href="/login-page">Login</a>
                <a class="button" href="/register-page">Register</a>
                <a class="button button-outline" href="/to-do-list">To-do List</a>
            </section>
        </main>
    </article>
</body>
</html>