<%- include('./partials/header') %>

<h1>Sign In</h1>

  <section class="form">
    <form method='post' id="signin-form" action='/login'>
      <fieldset class='form-field'>
        <label for="email-signin-input">Email</label>
        <input type='email' name='email' id='email-signin-input' />

        <label for="password-signin-input">Password</label>
        <input type="password" name="password" id="password-signin-input" />

        <input type="submit" name="submit" value="Login">
        <a class="reroutes" href="/register">Don't have an account?</a>
      </fieldset>
    </form>
  </section>