<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" type="text/css" />
  <title>Express To-Do</title>
</head>
<body>
  
  <form action="/register" method="POST">
    <div class="row">
      <div class="six columns">
         <label for="email">Enter your email:</label>
         <input type="email" name="email" class="u-full-width"/>
      </div>
    </div>
      
    <div class="row">
      <div class="six columns">
        <label for="password">Enter your password:</label>
        <input type="password" name="password" class="u-full-width"/>
      </div>
    </div>
    
    <div class="row">  
      <div class="six columns">
        <label for="username">Enter your username:</label>
        <input type="text" for="username" class="u-full-width"/>
      </div>
    </div>
    
    <input type="submit" class="button-primary"/>
    
    <a href="/">Log In</a>
  </form>
  
</body>
</html>