<%- include('./partials/header') %>

<h1>Register</h1>

  <section class="form">
    <form method='post' id="register-form" action='/register'>
      <fieldset class='form-field'>
        <label for="name-input">Name</label>
        <input type="text" name="name" id="name-input">

        <label for="email-reg-input">Email</label>
        <input type='email' name='email' id='email-reg-input' />

        <label for="password-reg-input">Password</label>
        <input type="password" name="password" id="password-reg-input" />

        <input type="submit" name="submit" value="Register">
        <a class="reroutes" href="/login">Already have an account?</a>
      </fieldset>
    </form>
  </section>