<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>To-Do List App</h1>
      <nav>
        <ul>
          <li>
            <a href="/login">Already have an account? Login here.</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
        <h1>Sign Up</h1>
        <h2 id="errorText"><h2>
        <form id="signUpForm" action="/signup" method="post">
            <fieldset>
                <label for="username">Username</label>
                <input id="username" type="text" name="Username">

                <label for="email">Email</label>
                <input id="email" type="email" name="email">

                <label for="password">Password</label>
                <input id="password" type="password" name="password">

                <input type="submit" value="Sign Up" />
            </fieldset>
        </form>


    </main>


    <script src="javascript/signUp.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
