<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
  <title>List of Tasks</title>
</head>
<body>
  <center>
      <h1>My To-Do List: </h1>
      <a class="button" href="/createTask">New Task</a>
      <a class="button" href="/logout">Logout</a>
  </center>
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>Title :</th>
          <th>Do by :</th>
          <th>Description: </th>
          <th>Completed?</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="allTasks">
      </tbody>
    </table>
  </div>
<script type="text/javascript" src="/index.js"></script>
</body>
</html>